html {
  scroll-behavior: smooth;
}

body {
  margin: 0 5rem;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  background-color: black;
  color: white;
}

section {
  padding: 50px;
  margin-bottom: 25px;
}

nav {
  margin-top: 0.5rem;
}

ul {
  list-style-type: none;
}

section h1, h3 {
  margin-top: 0;
}

nav ul {
  display: flex;
  width: 35rem;
  font-size: 1.3rem;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
}

li {
  padding-top: 0;
}

a {
  color: white;
}

textarea {
  height: 100px;
  width: 300px;
  margin-bottom: 20px;
  resize: none;
}

img.logo {
  margin-top: 5px;
}

.above-and-down li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.black-box {
  background-color: black;
  width: 110px;
  height: 60px;
  padding: 5px 10px;
}

.black-transparent-box {
  background-color: black;
  opacity: 0.8;
  padding: 50px;
}

.experience-item {
  display: flex;
  flex-direction: column;
  border: white solid 1px;
  padding: 30px;
}

.cloudapp-item-1 {
  grid-area: cloudapp1;
}

.cloudapp-item-2 {
  grid-area: cloudapp2;
}

.cloudapp-item-3 {
  grid-area: cloudapp3;
}

.cloudapp-item-4 {
  grid-area: cloudapp4;
}

.flicker {
  font-size: 47px;
  padding: 0 15px;
  animation: flicker 2s linear infinite;
}

@keyframes flicker {
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.description {
  font-size: 19px;
  text-align: left;
}

.experience li {
  display: flex;
  flex-direction: column;
}

.experience img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.large-font {
  font-size: 40px;
}

.left-padding {
  padding-top: 0;
  padding-left: 20px;
}

.log-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.line-box {
  margin: auto;
  border-left: 1px solid white;
  height: 10%;
  position: fixed;
  margin: auto;
  z-index: 100;
}

.lightblue-transparent-box {
  background-color: lightgrey;
  opacity: 90%;
  padding: 50px;
}

.medium-font {
  font-size: 30px;
}

.name-logo {
  margin-top: 20px;
}

.name-color {
  color: lightblue;
  border: white solid 1px;
  padding: 5px 20px 10px 10px;
}

.outline {
  height: 20%;
  padding: 10px;
  margin: 0;
}

.portfolio-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: white solid 1px;
  padding: 20px;
  height: 80%;
}

.portfolio-projects img {
  height: 20rem;
}

.portfolio-projects li {
  height: 80%;
  width: 30%;
  text-align: center;
}

.reset p, h1 h3, h4, h5{
  margin: 0;
  padding-left: 20px;
}

.reset.above-and-down li {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.side-by-side li {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 100%;
}

.small-icon {
  margin-top: 45%;
}

.space-down {
  border-top: 1px solid;
  text-align: justify;
  margin-top: 25%;
}

.thumbnail {
  height: 80%;
  width: 100%;
}

.top-35 {
  margin-top: 35%;
  border: white solid 0.1px;
}

.white-box {
  background-color: white;
  width: 101px;
  height: 60px;
  padding: 1px 2px;
  margin-top: 15%;
  margin-left: 45%;
}

.max-height {
  height: 90%;
}

.profile-picture {
  grid-area: profile-picture;
}

.profile-picture img {
  opacity: .7;
  height: 100%;
  width: 100%;
}

.robotics-item-1 {
  grid-area: robotics1;
}

.robotics-item-2 {
  grid-area: robotics2;
}

.robotics-item-3 {
  grid-area: robotics3;
}

.robotics-item-4 {
  grid-area: robotics4;
}

.side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lightblue-transparent-box {
  background-color: lightblue;
  opacity: .7;
  padding: 50px;
}

#about-me {
  display: flex;
  flex-direction: row;
  border-top: solid;
}

#about-me2 h2 {
  border: lightblue solid 0.1px;
  padding: 30px;
}

#contact-me {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "contact-me contact-me contact-me contact-me"
                       "form       my-info    my-info    profile-picture"
                       "form       my-info    my-info    profile-picture"
                       "form       my-info    my-info    social";

  background-image: url("../images/san-fran.png");
  background-size: auto;
  background-attachment: fixed;
  height: 90vh;
}

#contact-me h1 {
  grid-area: contact-me;
  font-size: 35px;
  text-align: center;
}

#contact-me input {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}

#contact-me textarea::placeholder, input::placeholder {
  color: black;
  opacity: .9;
}

#experience {
  display: grid;
  grid-gap: 1rem;
  /* grid-column: column; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header   header   header   header"
                       "cloudapp robotics cadoo    none";
  height: 70vh;
}

#experience h1 {
  grid-area: header;
  text-align: center;
  font-size: 50px;
}

#experience h4 {
  color: lightblue;
  padding-bottom: 10px;
}

#experience img {
  padding-left: 20px;
}

#form {
  grid-area: form;
}

#education-header {
  margin-top: 250px;
  background-image: url("../images/sky.gif");
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
}

#education-header h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7%;
}

#home h1 {
  font-size: 60px;
}

#home h2 {
  font-size: 35px;
  padding-left: 100px;
}

#education {
  height: 50vh;
}

#home {
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

#home-button {
  height: 35px;
  width: 35px;
}

#my-info {
  grid-area: my-info;
  display: flex;
  flex-direction: column;
}

#name {
  padding-left: 5%;
}

#picture {
  background-image: url("../images/cover.png");
  background-size: auto;
  background-attachment: fixed;
  width: 600px;
  height: 600px;
  border: white solid 1px;
  margin-right: 50px;
}

#portfolio h1 {
  font-size: 50px;
}

#portfolio h5 {
  font-size: 30px;
  margin-bottom: 20px;
}

#profile-picture {
  align-items: center;
  height: 50%;
  width: 50%;
}

#socials {
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#socials img {
  height: 70px;
  width: 60px;
}

#view-work {
  width: 100px;
  height: 54px;
  background: white;
  padding: 0;
  border: 0;
}

#view-work a {
  color: black;
  text-decoration: none;
}
